
body{
    margin: 10px;
    background : rgb(0 , 255 ,0) ;
}

.imgs{
    height: 200px ;
    width: 200px;
}

.imgs2{
    height: 700px ;
    width: 700px;
}

p{
    padding : 10px;
}

h1{
    padding : 10px;
}

.pjb{
    margin : 10px;
}

.insb{
    padding : 10px;
}

widger{
    width: 800px ;
}
