{% extends "base.html" %}
{% block content %}

<h1>Мої проєкти</h1>

 <section class="container">
   <div class="row">
{% for proj in projeckts %}
  <div class="col-md-3 col-sm-6">
    <div class="card" style="width: 18rem;">
  <img src="{{url_for('static' , filename = 'images/'+ proj[2])}}" class="card-img-top imgs" alt="...">
  <div class="card-body">
    <h5 class="card-title">{{ proj[1] }}</h5>
    <a href="/projeckts/{{proj[0]}}" class="btn btn-success">Перейти</a>
  </div>
    </div>
    </div>
{% endfor %}
   </div>
</section>


{% endblock %}